.card-item.xl img {
  max-width: 450px;
}

.card-item.base img {
  max-width: 300px;
}

.card-item.small img {
  max-width: 250px;
}

.card-body button {
  display: flex;
  justify-content: center;
  width: 100%;
}

#sizes-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 4px;
}

#product-infos {
  text-align: center;
}

#product-infos p {
  margin: 4px;
  font-weight: 600;
}

#product-infos p span {
  font-weight: normal;
}